.productlist-container {
  width: 760px;
  display: flex;
  flex-direction: column;
}

.productlist-toptext {
  font-size: 14px;
  margin-bottom: 16px;
}

.productlist-products {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.productlist-item {
  margin-left: 24px;
  width: 160px;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
  position: relative;
}

.productlist-item-image {
  width: 140px;
  height: 140px;
  margin-bottom: 8px;
  padding-top: 4px;
}

.productlist-item-price-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.productlist-item-prev-price {
  color: #222b38;
  font-weight: lighter;
  text-decoration: line-through;
  font-size: 14px;
  margin-right: 8px;
}

.productlist-item-sale-price {
  font-size: 18px;
  color: #530000;
  font-weight: bold;
}

.productlist-item-price {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: bold;
  color: #000000;
}

.productlist-item-name {
  text-align: center;
  box-sizing: border-box;
  padding: 0 8px;
  font-size: 14px;
  color: #171e27;
  margin-bottom: 4px;
}

.productlist-item-container {
  position: relative;
}

.productlist-item-subtitle {
  font-size: 14px;
  color: #9b9b9b;
}

.productlist-buy-button {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  padding: 0.2em 0;
  background-color: #530000;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.productlist-item:hover + .productlist-buy-button {
  display: block;
}

.productlist-buy-button:hover {
  display: block;
  background-color: #630000;
}

.productlist-sale-container {
  position: absolute;
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #530000;
  background-color: #f2d1ab;
  border-radius: 50%;
  font-weight: bold;
  top: 87px;
  left: 25px;
}
