.header-container {
  background: #fbfbfa;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #e9e9e9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 32px;
  box-sizing: border-box;
}

.header-left-content {
}

.header-right-content {
}

.potato-logo {
  height: 24px;
  width: 24px;
  margin-right: 12px;
}

.potato-logo-text {
  height: 24px;
  width: 140px;
}

.shopping-cart-icon {
  height: 24px;
  width: 28px;
  margin-right: 32px;
}
